*.pyc
data/
__pycache__/
checkpoints/
*.pth
*.jpg
*.png
venv/
.idea/
wandb/
checkpoint/
*.onnx
*.pt
.vscode/
weights/
infer_result/
onnx_model/
gt_vis_result/
test/
woodscape_split/
.DS_Store
._.DS_Store
tmp.py